.menu-open-button1 {
    /* background: #EEEEEE; */
    /* width: 25px;
    height: 22px; */
    margin-top: -15px;
    position: absolute;
    color: rgb(90, 90, 90);
    text-align: center;
    line-height: 25px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* -webkit-transition: -webkit-transform ease-out 200ms; */
}

.menu-item1 {
    background: #EEEEEE;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: none;
    z-index: 991;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    /* line-height: 25px; */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu-item1 a i {
    color: #FFFFFF;
}

.menu1 {
    width: auto;
    height: 45px;
    font-size: 20px;
}


/* .menu-item {
    transition: all 0.1s ease 0s;
 } */

.menu1:hover .menu-open-button1 {
    display: none;
}

.menu1:hover .menu-item1 {
    display: block;
}

.menu-open-button1 {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu1:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu1:hover {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu1:hover .menu-open-button1 .menu-item1 {
    display: block;
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(2) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(-45.361px, -27.99997px, 0);
    transform: translate3d(-40.361px, -27.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(1.9466px, -27.99997px, 0);
    transform: translate3d(1.9466px, -27.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(6) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(42.9466px, -27.99997px, 0);
    transform: translate3d(42.9466px, -27.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(8) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(83.9466px, -27.99997px, 0);
    transform: translate3d(83.9466px, -27.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(10) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(125.9466px, -27.99997px, 0);
    transform: translate3d(125.9466px, -27.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(3) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(-20.361px, 3.99997px, 0);
    transform: translate3d(-20.361px, 3.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(5) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(20.9466px, 3.99997px, 0);
    transform: translate3d(20.9466px, 3.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(7) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(60.9466px, 3.99997px, 0);
    transform: translate3d(60.9466px, 3.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(9) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(102.9466px, 3.99997px, 0);
    transform: translate3d(102.9466px, 3.99997px, 0);
}

.menu1:hover .menu-open-button1~.menu-item1:nth-child(11) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(144.9466px, 3.99997px, 0);
    transform: translate3d(144.9466px, 3.99997px, 0);
}

.menu-open:checked~.menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
}

.blue {
    background-color: #686869;
    color: white;
}

.blue:hover {
    color: black;
    text-shadow: none;
}

.numbersgraph {
    flex-direction: column;
}

.numbersgraph .on {
    height: 40%;
    margin-top: 50px;
    width: 100%;
    background-color: aquamarine;
}

.numbersgraph .tw {
    height: 20%;
    margin-top: 30px;
    width: 100%;
    background-color: aquamarine;
}

.numbersgraph .thr {
    height: 80%;
    margin-top: 20px;
    width: 100%;
    background-color: aquamarine;
}

.pagefootert {
    height: 30px;
    z-index: 111;
    position: fixed;
    bottom: 0;
    width: calc(100% - 230px);
}

.pagefooter {
    background: rgba(28, 37, 37, 0.884);
}

.pagefooter div:nth-child(1) {
    flex-direction: row;
    line-height: .5;
}

.pagefooter div:nth-child(1) button {
    color: white;
    font-size: 12px;
    height: 28px;
    line-height: .6;
    vertical-align: auto;
}

.pagefooter div:nth-child(1) button:nth-child(1) {
    color: white;
    font-size: 12px;
    height: 28px;
    line-height: .6;
    vertical-align: auto;
}

.pagefooter div:nth-child(2) {
    flex-direction: row;
}

.pagefooter div:nth-child(2) button {
    font-size: 13px;
    height: 29px;
    line-height: .6;
    vertical-align: auto;
}


/* tabs 
* {box-sizing: border-box}

/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    width: 15%;
    height: 25px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 5px;
}

.tablinkR {
    background-color: #555;
    border: none;
    float: right;
    margin-left: auto;
    outline: none;
    cursor: pointer;
    padding: auto;
    font-size: 13px;
    width: 20%;
    height: 25px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.tablinkR button {
    height: auto;
    width: 50%;
    background-color: rgb(26, 25, 25);
    color: white;
}

.tablinkR button a {
    color: white;
}

.tablink:hover {
    background-color: rgba(255, 255, 255, 0.527);
    color: rgb(235, 235, 235);
}

.tablinkR button:hover {
    background-color: rgba(255, 255, 255, 0.527);
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 0px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tabcontent .tabcontentone {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 30px;
}

.tabcontent .tabcontentone .tabcontentone1 {
    width: 30%;
}

.tabcontent .tabcontentone .tabcontentone2 {
    width: 40%;
    display: flex;
    justify-content: center;
}

.tabcontent .tabcontentone .tabcontentone3 {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
}

.tabcontent .tabcontenttwo {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-bottom: 40px;
}

.tabsearch {
    width: 100%;
    background: #383737;
    margin: 0 0 0 0;
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}

.tabsearch .a {
    float: left;
    margin-left: 5px;
}