.modalheader {
    background: rgba(28, 37, 37, 0.884);
    color: white;
    height: 27px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid white;
}

.modalfooter {
    background: rgba(28, 37, 37, 0.884);
    color: white;
    height: 27px;
    /* text-align: right; */
    display: flex;
    flex-direction: row-reverse;
}

.modalbody {
    display: none;
    height: 0px;
}

.modalbody button {
    display: hidden;
}

.modalbody label {
    display: hidden;
}

.modalbodyshow {
    font-size: 12px;
    transition: height 0.5s linear;
    border-right: 3px solid rgba(28, 37, 37, 0.884);
    border-left: 3px solid rgba(28, 37, 37, 0.884);
    display: block;
    height: 0px;
    padding: 10px;
}

.modalbodyshow input {
    display: block;
    border-radius: 15px;
    background: rgb(26, 17, 17);
    color: white;
    font-size: 12px;
    width: 100%;
    border-radius: 10px;
    margin: 2px 10px, 2px, 10px;
}

.modalbodyshow select {
    display: block;
    border-radius: 15px;
    background: rgb(26, 17, 17);
    color: white;
    font-size: 12px;
    width: 100%;
    border-radius: 10px;
    margin: 2px 10px, 2px, 10px;
}

.modalbodyshow label {
    display: block;
    text-align: center;
    background-color: white;
    color: black;
}

#CRUDModal {
    visibility: visible;
    opacity: 1;
    transition: visibility 3s, opacity 3s linear;
}

#CRUDModal.open {
    visibility: hidden;
    opacity: 0;
}


/* modal flex
 */

.CRUDModalP {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    grid-gap: 5px;
    padding: 5px;
}

.CRUDModalP>div {
    width: 100%;
}

.modalfooter button {
    text-align: center;
    font-size: 12px;
    height: 25px;
    border-radius: 5px;
    background-color: #6c757d;
    color: white;
    border: 1px solid rgba(19, 26, 26, 0.884);
}

#modalcontent2 {
    visibility: visible;
    opacity: 1;
    transition: visibility 2s, opacity 1s linear;
}

#modalcontent2.open {
    visibility: hidden;
    opacity: 0;
}


/* ////////assignment */

.flex-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 70%;
    overflow-y: auto;
    height: 460px;
    border-right: 1px solid black;
}

.flex-container>div {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.flex-container>div>div {
    grid-template-columns: auto auto;
    margin-top: 10px;
    height: 100px;
    width: 50%;
}

.flex-container>div>div:nth-child(1) img {
    border-radius: 0;
}

.flex-container>div>div>div {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.flex-container>div>div>div>.classone {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
}

.flex-container>div>div>div>.classtwo {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100px;
    width: 25%;
}

.flex-container>div>div>div>.classtwo button {
    font-size: 12px;
    width: 100%;
}

.flex-container>input {
    background-color: #f1f1f1;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 17px 10px 0px 10px;
}

.flex-container1 select {
    width: 90%;
}


/* /  
  flex grid maol 3
  */

.flex-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 50%;
    overflow-y: scroll;
    height: 460px;
    border-right: 1px solid black;
}

.flex-container2>div {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    height: 50px;
}

.flex-container2>div>div {
    margin-top: 10px;
    height: 10px;
    width: 35%;
}

.flex-container3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 17px 10px 0px 10px;
    align-items: center;
}

.flex-container3 select {
    width: 50%;
}


/* 
flex grid maol 3 end
   */

.custcard {
    width: 100%;
    height: 100px;
    background: transparent;
    display: flex;
}

.custcard .disabled {
    display: none;
}

.custcard .custcardfirst {
    flex-direction: column;
    height: 80%;
    width: 20%;
    margin-right: 5px;
}

.custcard .custcardfirst h6 {
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.custcard .custcardfirst>div {
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
}

.custcard .custcardfirst>div:nth-child(2) {
    text-align: center;
}

.custcard .custcardfirst .img {
    height: 120px;
    width: 90%
}

.custcard .custcardfirst .img i {
    margin-top: 20px;
}

.custcard .custcardsecond {
    width: 40%;
    height: 480px;
    overflow-y: auto;
}

.custcard .custcardsecond::-webkit-scrollbar {
    width: 8px;
    background: #5a0404;
}

.custcard .custcardsecond::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.custcard .custcardsecond::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

.custcard .custcardsecond::-webkit-scrollbar-thumb:hover {
    background: #f60303;
}

.custcard .custcardsecond h6 {
    text-align: center;
}

.custcard .custcardsecond>div {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(28, 37, 37, 0.884);
    border-left: 1px solid rgba(28, 37, 37, 0.884);
}

.custcard .custcardsecond>div>div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.custcard .custcardsecond>div>div>div {
    margin: 10px;
    height: auto;
    width: 45%;
}

.custcard .custcardthird {
    width: 40%;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 20px;
}

.custcard .custcardthird h6 {
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.custcard .custcardthird>div {
    width: 90%;
    text-align: center;
}

.custcard .custcardthird>div>div {
    height: auto;
    margin-bottom: 10px;
}

.custcard .custcardthird>div>div img {
    border-radius: 10%;
}

.custcard .custcardthird>div>div:nth-child(3) {
    margin-left: 15%;
    width: auto;
    text-align: left;
    color: black;
}

.custcard .custcardthird .arrow {
    width: 38%;
    height: 60px;
    position: absolute;
    bottom: 0px;
}

.custcard .custcardthird .arrow>div {
    float: right;
    width: 15%;
}

.custcard .custcardthird .arrow>div #arrowAnim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custcard .custcardthird .arrow>div .arrow {
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-color: black transparent transparent black;
    transform: rotate(225deg);
}

.custcard .custcardthird .arrow>div .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.custcard .custcardthird .arrow>div #arrowAnim .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.custcard .custcardthird .arrow>div #arrowAnim .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.custcard .custcardthird .arrow>div #arrowAnim .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    20% {
        opacity: 1;
        transform: translateY(-10px);
    }
    80% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
        transform: translateY(25px);
    }
}


/* ////////assignment */

.customermodalheader {
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid rgba(28, 37, 37, 0.884);
    display: flex;
    flex-direction: row;
    width: auto;
    z-index: 100;
}

.modal .modal-content .modalbody .customermodalheader .left {
    width: 23vw;
    padding-left: 10px;
}

.customermodalheader .right {
    position: fixed;
    width: 40vw;
    display: flex;
    flex-direction: row-reverse;
}

.modal .modal-content .modalbody .customermodalheader .right ul {
    height: 30px;
    border-top: 1px solid rgba(28, 37, 37, 0.884);
    border-right: 1px solid rgba(28, 37, 37, 0.884);
    border-left: 1px solid rgba(28, 37, 37, 0.884);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal .modal-content .modalbody .customermodalheader .right ul li a {
    height: 25px;
    border-radius: 1px;
    color: #212155;
    align-content: center;
    margin-right: 15px;
    font-size: 15px;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link.active {
    color: #ffffff;
    background: #686869;
    padding: 0;
    margin: 0;
    text-decoration: wavy;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link.active i {
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link i {
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link.active {
    color: #ffffff;
    background: #686869;
    padding: 0;
    margin: 0;
    text-decoration: wavy;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link.active i {
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.modal .modal-content .modalbody .customermodalheader .right .nav-tabs .nav-item .nav-link i {
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.modalbody .newregisterimage {
    display: flex;
    flex-direction: row;
}

.newregisterimage input {
    margin-top: 30px;
    width: 50%;
    height: 28px;
}

.newregisterimage img {
    margin-left: 20%;
    border: 3px solid black;
}

*/
/* /////////// assignment modal */


/* #modalcontent2{
    visibility: visible;
    opacity: 1;
    transition: visibility 2s, opacity 1s linear;
    }
  #modalcontent2.open{
    visibility: hidden;
    opacity: 0;
    } */

.flex-container>div {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.flex-container>div>div:nth-child(1) {
    width: 40%;
    margin-right: 10px;
}

.flex-container>div>div:nth-child(1) img {
    border-radius: 40%;
    height: 100px;
    margin-left: 10px;
    width: 100px;
}

.flex-container>div>div {
    grid-template-columns: auto auto;
    margin-top: 10px;
    height: 100px;
    width: 60%;
}

.flex-container>div>div>div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 10px;
}

.flex-container>div>div>div>.classone {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    height: 100px;
    overflow: hidden;
    width: 75%;
}

.flex-container>div>div>div>.classtwo {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100px;
    text-align: center;
    width: 25%;
}

.flex-container>div>div>div>.classtwo button {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    height: 23px;
    margin-bottom: 2px;
    border-radius: 50%;
    width: 100%;
}

.flex-container>div>div>div>.classtwo button i {
    line-height: 1;
}

.flex-container>input {
    background-color: #f1f1f1;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}

.custcard2 {
    width: 100%;
    height: 100px;
    background: transparent;
    display: flex;
}

.custcard2 .disabled {
    display: none;
}

.custcard2 .custcard2first {
    flex-direction: column;
    height: 80%;
    width: 20%;
    margin-right: 5px;
}

.custcard2 .custcard2first h6 {
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.custcard2 .custcard2first>div {
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
}

.custcard2 .custcard2first>div:nth-child(2) {
    text-align: center;
}

.custcard2 .custcard2second {
    width: 40%;
    height: 480px;
    overflow-y: auto;
}

.custcard2 .custcard2second::-webkit-scrollbar {
    width: 8px;
    background: #5a0404;
}

.custcard2 .custcard2second::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.custcard2 .custcard2second::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

.custcard2 .custcard2second:-webkit-scrollbar-thumb:hover {
    background: #f60303;
}

.custcard2 .custcard2second h6 {
    text-align: center;
}

.custcard2 .custcard2second>div {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(28, 37, 37, 0.884);
    border-left: 1px solid rgba(28, 37, 37, 0.884);
}

.custcard2 .custcard2second>div>div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.custcard2 .custcard2second .custcard2secondinfo {
    width: 35%;
}

.custcard2 .custcard2second .custcard2secondimage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custcard2 .custcard2second .custcard2secondbuttons {
    width: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custcard2 .custcard2second>div>div>div {
    margin: 10px;
    height: auto;
    width: 45%;
}

.custcard2 .custcard2third {
    width: 40%;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 20px;
}

.custcard2 .custcard2third h6 {
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.custcard2 .custcard2third>div {
    width: 90%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.custcard2 .custcard2third>div>div {
    height: auto;
    margin-bottom: 10px;
}

.custcard2 .custcard2third>div>div img {
    border-radius: 10%;
}

.custcard2 .custcard2third>div>div:nth-child(3) {
    margin-left: 15%;
    width: auto;
    text-align: left;
    color: black;
}

.custcard2 .custcard2third .arrow {
    width: 38%;
    height: 60px;
    position: absolute;
    bottom: 0px;
}

.custcard2 .custcard2third .arrow>div {
    float: right;
    width: 8%;
}

.custcard .custcardthird .arrow>div #arrowAnim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custcard2 .custcard2third .arrow>div .arrow {
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-color: black transparent transparent black;
    transform: rotate(225deg);
}

.custcard2 .custcard2third .arrow>div .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.custcard2 .custcard2third .arrow>div #arrowAnim .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.custcard2 .custcard2third .arrow>div #arrowAnim .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.custcard2 .custcard2third .arrow>div #arrowAnim .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    20% {
        opacity: 1;
        transform: translateY(-10px);
    }
    80% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
        transform: translateY(25px);
    }
}